section#how.how
	div#how-abstraction
	div.container.how__container
		p.how__title Как все происходит
		div.how-desc-block
			p.how-desc-block__title Работаем с физическими и юридическими лицами
			ul
				li Вы оставляете заявку, звоните нам, или заказываете бесплатный обратный звонок;
				li Наш специалист помогает Вам с составлением Технического задания;
				li На основе согласованного ТЗ рассчитываем стоимость и составляем договор (при необходимости);
				li В назначенное время наш пилот-оператор с техникой прибывает на место съемки;
				li По желанию, Вы можете принимать участие в съемке;
				li Оплата только после получения материалов съемки ( фото / видео ).
