section#our-offer.our-offer
	div#our-offer-abstraction
	div.container.our-offer__container
		p.our-offer__title Что мы предлагаем ?

		article#private-block.private-block
			p.private-block__title Частная и коммерческая съемка
			p.industrial-block__title--min Мы можем все: от освещения мероприятий и съемки свадеб, до обзорных съемок исторических мест и контроля над строительными площадками в режиме on-line. Работаем с индивидуальными заказами и умеем в монтаж видео.

			div.private-block__container
				div.private-block-item
					img(src="./img/1.jpg", alt="")
					p.private-block-item__title Свадьбы и дни рождения
					p.private-block-item__desc Аэросъемка любого характера, от дней рождений до свадеб
					p.private-block-item__desc Запечатлим радостные моменты с необычного ракурса дешевле фотографа
	
				div.private-block-item
					img(src="./img/2.jpg", alt="")
					p.private-block-item__title Вечеринки и корпоративы
					p.private-block-item__desc Корпоративы и праздники, треш и угар (прости, Лёш)
					p.private-block-item__desc Наши дроны не оставят без внимания Ваши самые безбашенные поступки!	

				div.private-block-item
					img(src="./img/3.jpg", alt="")
					p.private-block-item__title Концерты
					p.private-block-item__desc А так же фестивали и любые другие массовые мероприятия
					p.private-block-item__desc Свежий подход к реализации aftermovie, intro- и видео-приглашений

				div.private-block-item
					img(src="./img/4.jpg", alt="")
					p.private-block-item__title Экстремальный экстрим
					p.private-block-item__desc Фото- и видео-контент для блогеров, и не только
					p.private-block-item__desc Прокачай свой канал сочными кадрами!

				div.private-block-item
					img(src="./img/5.jpg", alt="")
					p.private-block-item__title Панорамная 3D съемка
					p.private-block-item__desc Панорамная 3D съемка, full-HD 360&#176;
					p.private-block-item__desc Съемка с высоты до 1000 м без потери качества

				div.private-block-item
					img(src="./img/6.jpg", alt="")
					p.private-block-item__title Техническая съемка
					p.private-block-item__desc Небоскребы, крыши, бизнес-центры и ЖК
					p.private-block-item__desc Мосты, исторические объекты и другие красоты Санкт-Петербурга

		article#industrial-block.industrial-block
			p.industrial-block__title Промышленная съемка
			p.industrial-block__title--min С помощью специального софта от DroneDeploy наша команда успешно осуществляет аэросъемку для контроля и отслеживания этапов строительства, построения карт местности и 3D-моделей технических объектов. Как следствие: минимизация рисков на строительных площадках, а так же экономия средств и времени на этапе планирования.

			div.industrial-block__container

				div.industrial-block-item
					img(src="./img/2-1.jpg", alt="")
					p.industrial-block-item__title Агрокультура
					p.industrial-block-item__desc Разведка текущего состояния урожая;
					p.industrial-block-item__desc Составление карт местности;
					p.industrial-block-item__desc Точных сбор данных;
	
				div.industrial-block-item
					img(src="./img/2-2.jpg", alt="")
					p.industrial-block-item__title Строительство
					p.industrial-block-item__desc Планирование и проектирование площадок для строительства;
					p.industrial-block-item__desc Отслеживание этапов строительства;
					p.industrial-block-item__desc Мониторинг прогресса и безопаности на строй площадке;
					p.industrial-block-item__desc 

				div.industrial-block-item
					img(src="./img/2-3.jpg", alt="")
					p.industrial-block-item__title Осмотр крыш
					p.industrial-block-item__desc Осмотр и измерение геометрии крыш;
					p.industrial-block-item__desc Мониторинг проводимых на крышах работ;
					p.industrial-block-item__desc Повышение эффективности работы команд;

				div.industrial-block-item
					img(src="./img/2-4.jpg", alt="")
					p.industrial-block-item__title Контроль солнечных батарей
					p.industrial-block-item__desc Осмотр солнечных панелей;
					p.industrial-block-item__desc Для установки кровельных панелей;
					p.industrial-block-item__desc Составление карт солнечных ферм;

				div.industrial-block-item
					img(src="./img/2-5.jpg", alt="")
					p.industrial-block-item__title Геодезические карты
					p.industrial-block-item__desc Мониторинг прогресса и безопаности;

				div.industrial-block-item
					img(src="./img/2-6.jpg", alt="")
					p.industrial-block-item__title Горнодобыча
					p.industrial-block-item__desc Составление высокоточных контурных карт;
					p.industrial-block-item__desc Отслеживание местоположения оборудования;