section#reason.reason
	div#reason-abstraction
	div.container.reason__container
		p.reason__title Наше предложение - лучшее
		div.bullet
			div.bullet-item
				div#bullet-pilot.bullet-item__img
					img(src="./img/bullet-1.png", alt="")
				p.bullet-item__text 4 пилота постоянно в&#160;строю.</br> Налет более 1000&#160;часов 

			div#bullet-3d.bullet-item
				div.bullet-item__img
					img(src="./img/bullet-4.png", alt="")
				p.bullet-item__text Съемки с любых ракурсов в&#160;Full-HD&#160;и&#160;4K</br>Панорамная&#160;3D-съемка

			div#bullet-inf.bullet-item
				div.bullet-item__img
					img(src="./img/bullet-2.png", alt="")
				p.bullet-item__text Неограниченное количество взлетов, фото и видео

			div#bullet-time.bullet-item
				div.bullet-item__img
					img(src="./img/bullet-3.png", alt="")
				p.bullet-item__text Срочный выезд за&#160;40&#160;мин по Санкт-Петербургу

div.pilot-profit
	div.pilot-profit__container
		p.reason__title Преимущества работы с нами
		ul
			li Нет материальной ответственности за квадрокоптер
			li Без огромного залога за технику
			li Наши пилоты - профи, с нами безопасно во время съемок
			li 3 года работы и более 100 проектов
			li Вы можете активно участвовать в съемке