section#service-list.service-list
	div.container.service-list__container

		div#service-list-photo.service-list-item
			div.gg.service-list-item__container
				div.img-wrapper
					img(src="./img/dji-mavic-pro-400x220.png", alt="")
				p.service-list-item__title Тариф "Базовый"

				div.servis-list-item-table
					div.servis-list-item-table__text
						p Фотосъемка
						p Да
					div.servis-list-item-table__text
						p Видеосъемка
						p -
					div.servis-list-item-table__text
						p Кол-во взлетов
						p Не ограничено
					div.servis-list-item-table__text
						p Подарок
						p -
					div.servis-list-item-table__text
						p Техника
						p DJI Mavic Pro
					div.servis-list-item-table__text
						p Специализированное ПО
						p -

			div.service-list-item__container
				div.service__hour-price
					div.service__input-field
						span.input-field__title 1 час

						ul.service__list-labels
							li(data-time='1' data-percent='0' data-photo-del-price = '1990' data-photo-price = '1990' data-video-del-price = '3990' data-video-price = '3990') 1 час
							li(data-time='2' data-percent='25' data-photo-del-price = '3980' data-photo-price = '3480'  data-video-del-price = '7980' data-video-price = '6980') 2 часа
							li(data-time='3' data-percent='30' data-photo-del-price = '5970' data-photo-price = '4870'  data-video-del-price = '11970' data-video-price = '9780') 3 часа
							li(data-time='4' data-percent='35' data-photo-del-price = '7960' data-photo-price = '6160'  data-video-del-price = '15960' data-video-price = '12380') 4 часа
							li(data-time='5' data-percent='45' data-photo-del-price = '9950' data-photo-price = '7360'  data-video-del-price = '19950' data-video-price = '14580') 5 часов
							li(data-time='6' data-percent='55' data-photo-del-price = '11940' data-photo-price = '8250'  data-video-del-price = '23950' data-video-price = '16380') 6 часов
							li(data-time='all' data-percent='65' data-photo-del-price = '13930' data-photo-price = '8950'  data-video-del-price = '27950' data-video-price = '17990') Весь день
					span.service__hour-price--price = <span>1990 &#8381;</span>
				p.service-list-item__desc Каждый час - полет дешевле !
				a.orderBtn( type="button" data-src="#service-list-popup" href="javascript:;" data-fancybox) Заказать

		div#service-type-standart.service-list-item
			div.gg.service-list-item__container
				div.img-wrapper
					img(src="./img/dji-phantom-4-400x200.png", alt="")
				p.service-list-item__title Тариф "Стандарт"

				div.servis-list-item-table
					div.servis-list-item-table__text
						p Фотосъемка
						p Да
					div.servis-list-item-table__text
						p Видеосъемка
						p Да
					div.servis-list-item-table__text
						p Кол-во взлетов
						p Не ограничено
					div.servis-list-item-table__text
						p Подарок
						p Карта памяти
					div.servis-list-item-table__text
						p Техника
						p DJI Mavic Pro <br> DJI Phantom 4
					div.servis-list-item-table__text
						p Специализированное ПО
						p -

			div.service-list-item__container
				div.service__hour-price
					div.service__input-field
						span.input-field__title 1 час
	
						ul.service__list-labels
							li(data-time='1' data-percent='0' data-photo-del-price = '1990' data-photo-price = '1990' data-video-del-price = '3990' data-video-price = '3990') 1 час
							li(data-time='2' data-percent='25' data-photo-del-price = '3980' data-photo-price = '3480'  data-video-del-price = '7980' data-video-price = '6980') 2 часа
							li(data-time='3' data-percent='30' data-photo-del-price = '5970' data-photo-price = '4870'  data-video-del-price = '11970' data-video-price = '9780') 3 часа
							li(data-time='4' data-percent='35' data-photo-del-price = '7960' data-photo-price = '6160'  data-video-del-price = '15960' data-video-price = '12380') 4 часа
							li(data-time='5' data-percent='45' data-photo-del-price = '9950' data-photo-price = '7360'  data-video-del-price = '19950' data-video-price = '14580') 5 часов
							li(data-time='6' data-percent='55' data-photo-del-price = '11940' data-photo-price = '8250'  data-video-del-price = '23950' data-video-price = '16380') 6 часов
							li(data-time='all' data-percent='65' data-photo-del-price = '13930' data-photo-price = '8950'  data-video-del-price = '27950' data-video-price = '17990') Весь день

					span.service__hour-price--price = <span>3990 &#8381;</span>
				p.service-list-item__desc Каждый час - полет дешевле !
				a.orderBtn( type="button" data-src="#service-list-popup" href="javascript:;" data-fancybox) Заказать

			div.share
				p.share__text При заказе от 2 часов карта памяти на 16 GB в подарок!

		div#service-list-industrial.service-list-item
			div.gg.service-list-item__container
				div.img-wrapper
					img(src="./img/dji-mavic-pro-400x220.png", alt="")
				p.service-list-item__title Тариф "Pro"

				div.servis-list-item-table
					div.servis-list-item-table__text
						p Фотосъемка
						p Да
					div.servis-list-item-table__text
						p Видеосъемка
						p Да
					div.servis-list-item-table__text
						p Кол-во взлетов
						p Не ограничено
					div.servis-list-item-table__text
						p Подарок
						p Карта памяти
					div.servis-list-item-table__text
						p Техника
						p DJI Mavic Pro<br> DJI Phantom 4
					div.servis-list-item-table__text
						p Специализированное ПО
						p DronDeploy

			div.service-list-item__container
				div.service__hour-price
					div.service__input-field
						span.input-field__title 1 час

						ul.service__list-labels
							li(data-time='1' data-percent='0' data-photo-del-price = '1990' data-photo-price = '1990' data-video-del-price = '3990' data-video-price = '8990' data-industrial-del-price = '8990' data-industrial-price = '8990') 1 час
							li(data-time='2' data-percent='25' data-photo-del-price = '3980' data-photo-price = '3480'  data-video-del-price = '7980' data-video-price = '6980' data-industrial-del-price = '17980' data-industrial-price = '16650') 2 часа
							li(data-time='3' data-percent='30' data-photo-del-price = '5970' data-photo-price = '4870'  data-video-del-price = '11970' data-video-price = '9780' data-industrial-del-price = '26970' data-industrial-price = '23850') 3 часа
							li(data-time='4' data-percent='35' data-photo-del-price = '7960' data-photo-price = '6160'  data-video-del-price = '15960' data-video-price = '12380' data-industrial-del-price = '35960' data-industrial-price = '30600') 4 часа
							li(data-time='5' data-percent='45' data-photo-del-price = '9950' data-photo-price = '7360'  data-video-del-price = '19950' data-video-price = '14580' data-industrial-del-price = '44950' data-industrial-price = '36450') 5 часов
							li(data-time='6' data-percent='55' data-photo-del-price = '11940' data-photo-price = '8250'  data-video-del-price = '23950' data-video-price = '16380' data-industrial-del-price = '53940' data-industrial-price = '41390') 6 часов
							li(data-time='all' data-percent='65' data-photo-del-price = '13930' data-photo-price = '8950'  data-video-del-price = '27950' data-video-price = '17990' data-industrial-del-price = '63000' data-industrial-price = '45400') Весь день
					span.service__hour-price--price = <span>8990 &#8381;</span>
				p.service-list-item__desc Каждый час - полет дешевле !
				a.orderBtn( type="button" data-src="#service-list-popup" href="javascript:;" data-fancybox) Заказать


div#service-list-popup
	div.service-list-popup
		p.service-list-popup__service-type Выбран:
		span.service-list-popup--value
		p.service-list-popup__service-hours Время аренды:
		span.service-list-popup--value
		p.service-list-popup__service-price Цена:
		span.service-list-popup--value
	
		form#service-list-popup-form.service-list-popup-form
			p.service-list-popup-form__title Введите Ваш номер телефона:
			input(type="tel" name="phone" required)
			button(type="submit") Заказать

	div.service-list-popup--success
		p Ништяк! Ваша заявка успешно отправлена
		p Наш специалист свяжется с Вами в ближайшее время для уточнения деталей аренды