meta(charset="UTF-8")
//- title Copterrent.ru - Аренда квадрокоптеров с пилотом-оператором в СПб и ЛО.
title Аренда квадрокоптера с камерой в СПб, съемка с квадрокоптера, аэросъемка.
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="author" content="Nick G.")

meta(name="keywords" content="квадрокоптер в аренду с видеокамерой в спб, прокат квадрокоптеров")
meta(name="description", content="Квадрокоптер в аренду с камерой в СПб можно взять у нас. Съемка с квадрокоптера от 1 часа с пилотом от 1990 рублей, прокат квадрокоптеров от профессионалов. Почасовая съемка с квадрокоптера с монтажем видео и без, аэросъемка с квадрокоптера в Санкт-Петербурге и Ленинградской области.")

link(rel="icon" type="image/png" href="favicon.png")

//- from copterdrone
meta(name="google-site-verification" content="_re4H_NS6G7s8w6pEQJzIGgqHC7Q4PJsygpXNFksERY")
link(href="/bespilotniki_bpla/arenda_kvadrocoptera/" rel="canonical")
//-

link(rel="stylesheet" type="text/css" href="css/style.min.css")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css")
