header#promo.promo
	div.container.promo__container
		div.promo-text
			h1 <span>Аренда квадрокоптера</span> с&#160;пилотом&#160;-&#160;оператором от&#160;1990&#160;&#8381; в&#160;Санкт&#160;-&#160;Петербурге и ЛО
			p.promo-text__pod-offer Срочный выезд пилота-оператора с квадрокоптером за&#160;40&#160;мин в любую точку СПб.

	include calc.pug